In [26]:
import requests
from bs4 import BeautifulSoup

In [19]:
heads = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","Accept-Encoding": "gzip, deflate, br",
  "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
  "Connection": "keep-alive",
  "Accept-Language": "en-US,en;q=0.9,lt;q=0.8,et;q=0.7,de;q=0.6"}
url = "https://www.indeed.com/jobs?q=data+scientist&l=&sc=0kf%3Aexplvl%28ENTRY_LEVEL%29%25&vjk=bc53f0a1937648ee"

In [24]:
response = httpx.get(url,headers=heads)

In [25]:
response

Requirement already satisfied: httpx in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (0.28.1)
Requirement already satisfied: anyio in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (from httpx) (4.12.0)
Requirement already satisfied: certifi in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (from httpx) (2025.11.12)
Requirement already satisfied: httpcore==1.* in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (from httpx) (1.0.9)
Requirement already satisfied: idna in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (from httpx) (3.11)
Requirement already satisfied: h11>=0.16 in c:\users\antho\appdata\local\programs\python\python314\lib\site-packages (from httpcore==1.*->httpx) (0.16.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
from bs4 import BeautifulSoup
from csv import writer
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time

In [35]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sidraaazam/data-science-roles-skills-and-salaries-2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/sidraaazam/data-science-roles-skills-and-salaries-2025?dataset_version_number=1...

100%|█████████████████████████████████████████████████████████████████████████████| 34.0k/34.0k [00:00<00:00, 12.6MB/s]

Extracting files...
Path to dataset files: C:\Users\antho\.cache\kagglehub\datasets\sidraaazam\data-science-roles-skills-and-salaries-2025\versions\1

In [36]:
import pandas as pd

In [43]:
df = pd.read_csv("data_science_job_posts_2025.csv")

In [53]:
df

,job_title,seniority_level,status,company,location,post_date,headquarter,industry,ownership,company_size,revenue,salary,skills
0,data scientist,senior,hybrid,company_003,"Grapevine, TX . Hybrid",17 days ago,"Bentonville, AR, US",Retail,Public,€352.44B,Public,"€100,472 - €200,938","['spark', 'r', 'python', 'scala', 'machine lea..."
1,data scientist,lead,hybrid,company_005,"Fort Worth, TX . Hybrid",15 days ago,"Detroit, MI, US",Manufacturing,Public,"155,030",€51.10B,"€118,733","['spark', 'r', 'python', 'sql', 'machine learn..."
2,data scientist,senior,on-site,company_007,"Austin, TX . Toronto, Ontario, Canada . Kirkla...",a month ago,"Redwood City, CA, US",Technology,Public,"25,930",€33.80B,"€94,987 - €159,559","['aws', 'git', 'python', 'docker', 'sql', 'mac..."
3,data scientist,senior,hybrid,company_008,"Chicago, IL . Scottsdale, AZ . Austin, TX . Hy...",8 days ago,"San Jose, CA, US",Technology,Public,"34,690",€81.71B,"€112,797 - €194,402","['sql', 'r', 'python']"
4,data scientist,NaN,on-site,company_009,On-site,3 days ago,"Stamford, CT, US",Finance,Private,"1,800",Private,"€114,172 - €228,337",[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,data scientist,senior,NaN,company_171,"Bengaluru, Karnataka, India",a day ago,"Armonk, NY, US",Technology,Public,"524,598",€120.29B,"€33,288 - €53,080","['pytorch', 'python', 'sql', 'machine learning..."
940,machine learning engineer,senior,NaN,company_134,"Melbourne, Victoria, Australia",a month ago,"Seattle, WA, US",Retail,Public,"865,456",€838.78B,"€64,290","['amazon', 'machine learning']"
941,data scientist,midlevel,on-site,company_395,"McLean, VA",11 days ago,"McLean, VA, US",Retail,Public,"55,150",€36.29B,"€145,904 - €166,510","['spark', 'aws', 'r', 'python', 'scala', 'sql'..."
942,data scientist,midlevel,on-site,company_395,"New York, NY",17 days ago,"McLean, VA, US",Retail,Public,"55,110",€36.34B,"€159,149 - €181,595","['spark', 'aws', 'r', 'python', 'scala', 'sql'..."
943,data scientist,senior,on-site,company_844,"San Diego, CA",8 days ago,"Mountain View, CA, US",Technology,Public,"17,040",€95.22B,"€195,486 - €201,926","['r', 'python', 'scala', 'sql', 'machine learn..."